@media (max-width: 320px) {

    body {
        margin: 0;
        padding: 0;
    }

    .hero {
        /* border: 1px solid red; */
        width: 320px;
    }

    .hero .bio {
        width: 300px;
        /* border: 1px solid red; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        /* padding: 0px 0px 0px 50px; */

    }

    .hero .bio p {
        margin: 0;
        padding-left: 10px;
        margin-right: 20px;
    }
    
    .site-header {
        max-width: 320px;
        font-size: 10px;
        /* border: 1px solid red; */
    }
    
    .site-header__brand {
        /* border: 1px solid red; */
        width: 150px;
    }

    .site-header__brand .data {
        font-size: 19px;
        text-align: center;
        /* border: 1px solid red; */
        width: 100%;
    }

    .site-header .v {
        display: none;
    }

    .main-nav {
        /* border: 1px solid red; */
        padding: 0;
        margin: 0;

    }

    .main-nav .main-nav__list {
        /* border: 1px solid red; */
        display: none;
    }
    
    .hero {
        /* border: 1px solid red; */
        max-width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero h1 {
        font-size: 40px;
        text-align: center;
        /* border: 1px solid red; */
        width: 200px;
        line-height: 1.0;
        margin-top: 40px;
        margin-left: 0;
    }

    .hero h2 {
        width: 200px;
        line-height: 1.0;
        letter-spacing: 0;
        text-align: center;
        font-size: 20px;
        margin: 20px 0 20px 0;
    }

    .hero p {
        /* border: 1px solid red; */
        width: 200px;
        text-align: center;
        font-size: 12px;
        padding-left: 10px;
    }

    

   .hero .buttons__Hero {
        /* border: 1px solid red; */
        /* margin: 20px 0px 20px 0; */
        margin: 20px 0px 0px 0px;
        padding: 0;
        width: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-direction: column; */
        gap: 10px;
   }

   .hero .buttons__Hero #viewProject {
        width: 120px;
        font-size: 13px;
        /* text-align: center; */
        padding: 20px 10px;
        letter-spacing: 0px;
   }

   .hero .buttons__Hero #conect {
        width: 120px;
        text-align: center;
        padding: 20px 10px;
        margin: 0;

   }

   .profile-orbit-container {
    width: 320px;
    margin: 0;
    /* border: 1px solid red; */
   }

   .profile-frame {
    width: 150px;
    height: 150px;
   }

   .profile-frame__tag {
    display: none;
   }
   .orbit-ring-1 {
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
   }

   .orbit-ring-2 {
    width: 260px;
    height: 260px;
    margin: -130px 0px 0px -130px;
   }

   .orbit-ring-3 {
    width: 320px;
    height: 320px;
    margin: -160px 0 0 -160px;
   }
   .parte {
    width: 320px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
   }

   .about-me {
    padding: 0;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   }

   .title {
    width: 320px;
   }

   .line-title {
    width: 100px;
   }

   .about-grid {
        margin-right: 25%;
   }

   .about-me__01 {
    width: 100%;
   }

   .about__subtitle {
    font-size: 8px;
   }

   .parte h1 {
    font-size: 30px;
   }

   .parte p {
    font-size: 12px;
    text-align: center;
    width: 200px;
   }

   .about-me .about-status {
        margin-top: 30px;
        width: 200px;
        text-align: center;
        justify-content: center;
        align-items: center;
   }


   .about-me .about-status .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 150px;
   }

   .about-me .about-status .info .label-status {
    font-size: 14px;
    text-align: center;
   }

    .about-me .about-status .info .value-status {
        font-size: 10px;
        width: 100%;
    }


    .stacks {
        display: flex;
        flex-direction: column;

    }

    .stacks .card {
        width: 100%;
    }

   .container-project {
    display: none;
   }
   


    
}